* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    margin: 0;
}

.col-md-8, .col-md-4 {
    padding: initial !important;
}

.image-box {
    text-align: center;
    height: 100vh;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;
}

.image-box h1 {
    color: #fff;
    font-size: 80px;
    padding-top: 200px;
}

.partner-logo {
    bottom: 60px;
    position: absolute;
}

.partner-logo img {
    width: 10%;
    /* height: 100px; */
    margin: 0 15px;
}

.form-container {
    width: 100%;
}

.menu {
    padding: 15px 20px 0;
    border-bottom: 2px solid #c200ff;
}

.menu button {
    border: none;
    background: transparent;
    outline: none;
    margin: 0 12px;
    padding: 0 10px 5px 10px;
}

.form-box {
    margin-top: 40px;
    text-align: center;
}

.form-box h1 {
    margin-bottom: 50px;
    color: #c200ff;
}

.form-box input {
    margin-bottom: 40px;
    border: none;
    outline: none;
    width: 50%;
    border-bottom: 1px solid #c200ff;
}

.form-box button {
    width: 50%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #c200ff;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px;
}

#register-tab {
    display: none;
}

#loginBtn {
    border-bottom: 4px solid #c200ff;
}